.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.typing-demo {
  width: 24ch;
  animation: typing 2s, blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

.typing-demo2 {
  width: 33ch;
  animation: fadeIn 3s ease forwards, typing 2s forwards,
    blink 0.5s step-end infinite alternate 3s; /* start blink after typing */

  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

body {
  text-align: center;
}

.info {
  position: absolute;
  bottom: 0;
  padding: 20px;
}
